* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0062be;
    transition: 0.5s;

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            position: relative;
            max-width: 80px;
        }

        ul {
            position: relative;
            display: flex;

            li {
                list-style: none;

                a {
                    display: inline-block;
                    color: #fff;
                    font-weight: 400;
                    margin-left: 40px;
                    text-decoration: none;
                }
            }
        }
    }

    .content {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .textBox {
            position: relative;
            max-width: 600px;

            h2 {
                color: #fff;
                font-size: 4em;
                line-height: 1.5em;
                font-weight: 900;
                text-transform: uppercase;

                span {
                    font-size: 2em;
                }
            }

            p {
                color: #fff;
            }

            a {
                display: inline-block;
                margin-top: 20px;
                padding: 8px 20px;
                background-color: #fff;
                color: #111;
                border-radius: 40px;
                font-weight: 500;
                letter-spacing: 1px;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        .imgBox {
            width: 600px;
            display: flex;
            padding-right: 50px;
            margin-top: 50px;
            justify-content: flex-end;

            img {
                max-width: 260px;
            }
        }
    }

    .thumb {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        display: flex;

        li {
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                transform: translateY(-15px);
            }

            img {
                max-width: 44px;
            }
        }
    }

    .sci {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        li {
            list-style: none;

            a {
                display: inline-block;
                filter: invert(1);
                margin: 5px 0;
                transform: scale(0.6);
            }
        }
    }
}